* {
    display: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 900;
}

body{
    display: flex;
    background-color: rgb(216, 215, 215);
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;;
}

h1 {
    font-size: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 128, 0, 0.795);
    background-image: url(src/background.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    justify-content: center;
    align-items:center;
    width: 50%;
    height: 70%;
    border-radius: 2rem;
    border: 2px solid #000;
    position: relative
}

.card p{
    position: absolute;
    top: 25%;
    background-color: #fff;
    padding: .25rem;
    border: 2px solid #000;
    border-radius: 3rem;
}

h2 {
    margin: -2rem auto -1rem;
    font-size: 1.1rem;
}

.card__actions{
    margin: 0;
}

button {
    padding: .2rem 1rem;
    margin: -1rem 1rem;
    color: #fff;
    border-radius: 2rem;
    cursor: pointer;
}